@import '../public/variables';


.Navbar{
  border: 1 solid #22073b;
  width: 100%;
  height: 15vh;
  background-color: #22073b;
}
.logo{
padding: vw;
width: 15vw;
}

.svg-inline--fa.fa-w-14{
  color: white;
  position: absolute;
  right: 0px;
  padding: 2px 5px;
  width: 10px;
}
.mainImg{
  // background:  no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // background-position: center; 
  
  }
@media only screen and (max-width: 768px) {

}